<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Searching</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/Pink Logo.png') }}" alt="logo">
    </div>
    <form action="">
        <!-- Hidden file input -->
        <input type="file" id="query" accept="image/*">
    
        <!-- Drag-and-drop area -->
        <div id="drop-zone" class="dropZone">
            <p>Drag and drop an image here Choose File above.</p>
        </div>
    
        <!-- Image preview -->
        <div id="preview" class="image-preview"></div>
    </form>
    <!-- Section for the results-->
    <section id="section">
    </section>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>